{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
//    ],
//  "ignore": [
//    "firebaseui.js"
//    "node_modules"
  ]
}
